{
  "log": {
    "_recordingName": "Generated Action Tests/Testing xml/script can be executed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "a5a2f79f76f999b31c65cbbe05a2eff6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "owner",
              "value": "trieloff"
            },
            {
              "name": "repo",
              "value": "soupdemo"
            },
            {
              "name": "path",
              "value": "/hello.md"
            },
            {
              "name": "ref",
              "value": "master"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/content-proxy@v1?owner=trieloff&repo=soupdemo&path=%2Fhello.md&ref=master"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 141,
            "text": "---\ntemplate: Medium\n---\n\n# Bill, Welcome to the future\n> Project Helix\n\n## Let's talk about Project Helix\n![](./moscow/assets/IMG_0167.jpg)\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1591925347.584"
            },
            {
              "name": "surrogate-control",
              "value": "max-age=60"
            },
            {
              "name": "x-gw-cache",
              "value": "HIT"
            },
            {
              "name": "x-last-activation-id",
              "value": "c2d1d36e01b0472a91d36e01b0572a34"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "16f4176449754168b417644975716823"
            },
            {
              "name": "x-source-location",
              "value": "https://raw.githubusercontent.com/trieloff/soupdemo/master/hello.md"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 457,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
