{
  "log": {
    "_recordingName": "hlx deploy (Integration)/Deploy works",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "aa5cfef3014c6b49d62b96dd6b98424b",
        "request": {
          "headers": [
            {
              "name": "x-namespace-id",
              "value": "hlx"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "PUT",
          "queryString": [
            {
              "name": "overwrite",
              "value": "true"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/namespaces/hlx/packages/cb8117fa2282c05307de5a91a5049eb882e5372b?overwrite=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 411
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 711,
      },
      {
        "_id": "c0f57902d7afb02688ddc26047ff987b",
        "request": {
          "headers": [
            {
              "name": "x-namespace-id",
              "value": "hlx"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "PUT",
          "queryString": [
            {
              "name": "overwrite",
              "value": "true"
            }
 [...]
