{
  "log": {
    "_recordingName": "hlx deploy (Integration)/Deploy works",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.4.0"
    },
    "entries": [
      {
        "_id": "06d775aabafd59db85d2db9f64d9db43",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/static@latest"
        },
        "response": {
          "content": {
            "mimeType": "application/xml; charset=UTF-8",
            "size": 163
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/xml; charset=UTF-8"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1562213232.318"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "cc0196d05fb144308196d05fb164304a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 767,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
