{
  "log": {
    "_recordingName": "Integration test for up command/up command delivers correct response.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.3.0"
    },
    "entries": [
      {
        "_id": "4df97c65ba10c60739701808079ff7ac",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "params",
              "value": "with params"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/embed@v1/https://embeds.project-helix.io/jekyll_embed?params=with%20params"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 224,
            "text": "<div class=\"embed  embed-has-url embed-has-title\">\n  <a href=\"https://embeds.project-helix.io/jekyll_embed?params=with+params\">\n    <span class=\"title\">Fastly error: unknown domain embeds.project-helix.io</span>\n  </a>\n<div>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1586744952.926"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-last-activation-id",
              "value": "118cd58fe0634b9c8cd58fe063db9c60"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "bf8c0f0269c8445c8c0f0269c8f45c93"
            },
            {
              "name": "x-provider",
              "value": "unfurl.js"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2602,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
