{
  "log": {
    "_recordingName": "Integration test for up command/up command delivers correct response.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.3.0"
    },
    "entries": [
      {
        "_id": "bfe3cd310030f879fd1cc8c87ff1aa25",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "params",
              "value": "with params"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/default/embed/https://embeds.project-helix.io/jekyll_embed?params=with%20params"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 127,
            "text": "<div class=\"embed  embed-has-title\">\n    <span class=\"title\">Fastly error: unknown domain embeds.project-helix.io\n</span>\n<div>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1554957520.400"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "87669a721d814d31a69a721d812d3199"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 925,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
