{
  "log": {
    "_recordingName": "Integration test for up command/up command delivers correct response.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.3.0"
    },
    "entries": [
      {
        "_id": "25acf095e1b5cb35d9971614c8f6d036",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "params",
              "value": "with params"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/embed@v1/https://embeds.project-helix.io/jekyll_embed?params=with%20params"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 131,
            "text": "{\"code\":\"lZkz4WXIaxOAcL0iw6Ntor30zQ4axjUo\",\"error\":\"The resource requires authentication, which was not supplied with the request\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "www-authenticate",
              "value": "Basic realm=\"OpenWhisk secure realm\",charset=UTF-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 2936,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
