{
  "log": {
    "_recordingName": "Integration test for up command/up command delivers correct response.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "dec50edd87b0780c24ae0ccfbce4b953",
        "request": {
          "headers": [
            {
              "name": "x-esi",
              "value": true
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "params",
              "value": "with params"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/embed@v1/https://embeds.project-helix.io/jekyll_embed?params=with%20params"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 272,
            "text": "<div class=\"embed  embed-has-url embed-project-helix embed-project-helix-embeds embed-has-title\">\n  <a href=\"https://embeds.project-helix.io/jekyll_embed?params=with+params\">\n    <span class=\"title\">Fastly error: unknown domain embeds.project-helix.io</span>\n  </a>\n</div>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1592800848.940"
            },
            {
              "name": "x-gw-cache",
              "value": "HIT"
            },
            {
              "name": "x-last-activation-id",
              "value": "582dddbd8f914411adddbd8f91a411d3"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "59ddf2b17b274ba79df2b17b275ba7c5"
            },
            {
              "name": "x-provider",
              "value": "unfurl.js"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 480,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
