version: 2.1
executors:
  node10:
    docker:
    - image: circleci/node:10-buster
    environment:
      NPM_CONFIG_PREFIX: ~/.npm-global

commands:
  setup:
    steps:
    - checkout
    - restore_cache:
        keys:
        - v4-dependencies-{{ arch }}-{{ checksum "package-lock.json" }}
    - run:
        name: install latest npm
        command: sudo npm -g install npm
    - run:
        name: Installing Dependencies
        command: npm ci
    - save_cache:
        paths:
        - node_modules
        key: v4-dependencies-{{ arch }}-{{ checksum "package-lock.json" }}
    - run:
        name: prepare test git user
        command: git config --global user.email "circleci@project-helix.io" && git config --global user.name "CircleCi Build"

orbs:
  helix-smoke-tests: adobe/helix-smoke-tests@0.1.0
  win: circleci/windows-tools@0.1.0

jobs:
  build_win:
    parallelism: 4
    executor: win/default
    steps:
      - run: git config --global core.autocrlf false
      - run:
          name: prepare test git user
          command: git config --global user.email "circleci@project-helix.io"
      - run:
          name: prepare test git user
          command: git config --global user.name "CircleCi Build"
      - checkout
      - run: choco install nodejs-lts --version=10.16.3
      - run: npm install
      - run: mkdir junit

      # test & get code coverage
      - run:
          name: Test and Code Coverage
          command: npm run test-ci-win
          environment:
            MOCHA_FILE: junit/test-results.xml

      - store_test_results:
          path: junit

      - store_artifacts:
          path: junit

  build:
    parallelism: 1
    executor: node10
    working_directory: ~/repo

    steps:
    - setup

    # run tests!
    - run: mkdir junit
    - run:
        name: prepare test git user
        command: git config --global user.email "you@example.com" && git config --global user.name "Your Name"
    - run:
        name: Lint
        command: npm run lint-ci

    # test & get code coverage
    - run:
        name: Test and Code Coverage
        command: npm run test-ci
        environment:
          MOCHA_FILE: junit/test-results.xml

    - store_test_results:
        path: junit

    - store_artifacts:
        path: junit

  forkwarning:
    executor: node10
    working_directory: ~/repo

    steps:
    - run: echo "Warning - this PR is coming from a fork repository, no smoke tests will be run".

workflows:
  version: 2
  build:
    jobs:
    - build
    - build_win

  smoke:
    jobs:
    - helix-smoke-tests/run:
        filters:
          branches:
            # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
            ignore: /pull\/[0-9]+/
        remote_repo: adobe/helix-continuous
    - forkwarning:
        filters:
          branches:
            # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
            only: /pull\/[0-9]+/
