version: 2.1
executors:
  node14:
    docker:
    - image: circleci/node:14
    environment:
      NPM_CONFIG_PREFIX: ~/.npm-global

commands:
  setup:
    steps:
    - checkout
    - restore_cache:
        keys:
        - v4-dependencies-{{ arch }}-{{ checksum "package-lock.json" }}
    - run:
        name: install latest npm
        command: sudo npm -g install npm
    - run:
        name: Installing Dependencies
        command: npm ci
    - save_cache:
        paths:
        - node_modules
        key: v4-dependencies-{{ arch }}-{{ checksum "package-lock.json" }}
    - run:
        name: prepare test git user
        command: git config --global user.email "circleci@project-helix.io" && git config --global user.name "CircleCi Build"

orbs:
  win: circleci/windows@2.4.1

jobs:
  build_win:
    executor: win/default
    steps:
      - run: git config --global core.autocrlf false
      - run:
          name: prepare test git user
          command: git config --global user.email "circleci@project-helix.io"
      - run:
          name: prepare test git user
          command: git config --global user.name "CircleCi Build"
      - checkout
      - run: choco install nodejs-lts --version=14.17.6
      - run: mkdir junit
      - run:
        name: Installing Dependencies
        command: npm ci

      # test & get code coverage
      - run:
          name: Test and Code Coverage
          command: npm run test-ci-win
          environment:
            MOCHA_FILE: junit/test-results.xml

      - store_test_results:
          path: junit

      - store_artifacts:
          path: junit

  build:
    executor: node14
    working_directory: ~/repo

    steps:
    - setup
    - run: mkdir junit
    - run:
        name: prepare test git user
        command: git config --global user.email "you@example.com" && git config --global user.name "Your Name"
    - run:
        name: Lint
        command: npm run lint
    - run:
        name: Test and Code Coverage
        command: npm run test-ci
        environment:
          MOCHA_FILE: junit/test-results.xml

    - store_test_results:
        path: junit

    - store_artifacts:
        path: junit

workflows:
  version: 2
  build:
    jobs:
    - build
    - build_win
