{
  "log": {
    "_recordingName": "Integration test for up command/up command delivers correct response with live-reload.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "aca3d8738b2ea1d84cbb5dd510f73249",
        "request": {
          "headers": [
            {
              "name": "x-esi",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "params",
              "value": "with params"
            }
          ],
          "url": "https://helix-pages.anywhere.run/helix-services/embed@v1/https://embeds.project-helix.io/jekyll_embed?params=with%20params"
        },
        "response": {
          "content": {
            "mimeType": "text/html;charset=UTF-8",
            "size": 293,
            "text": "<div class=\"embed  embed-has-title embed-has-url embed-project-helix embed-project-helix-embeds\">\n    <span class=\"title\" style=\"display:none\">Fastly error: unknown domain embeds.project-helix.io</span>\n  <a href=\"https://embeds.project-helix.io/jekyll_embed?params=with+params\">\n  </a>\n</div>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html;charset=UTF-8"
            },
            {
              "name": "x-invocation-id",
              "value": "46fd8262-5cc9-4455-aa62-0b128fc525b6"
            },
            {
              "name": "x-provider",
              "value": "unfurl.js"
            },
            {
              "name": "apigw-requestid",
              "value": "fCvMIjt3oAMEMyA="
            },
            {
              "name": "x-backend-url",
              "value": "/helix-services/embed/1.11.15/https://embeds.project-helix.io/jekyll_embed?params=with%20params"
            },
            {
              "name": "x-backend-name",
              "value": "0trc7KZPj73TyFfFhsUyWu--F_AmazonWebServices"
            },
            {
              "name": "x-backend-health",
              "value": "1 1 1"
            },
            {
              "name": "x-gateway-restarts",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 358,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
