{
  "log": {
    "_recordingName": "hlx deploy (Integration)/Failed action deploy throws",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "2bcc4d72dc5b1cbe5dff97d72a9b0c5d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/static@v1"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "perf-br-resp-out",
              "value": "1597150218.310"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-last-activation-id",
              "value": "5a1e9053dcc344419e9053dcc3244157"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "315747af6fb2445f9747af6fb2b45ff3"
            },
            {
              "name": "x-version",
              "value": "1.11.52"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 470,
      },
      {
        "_id": "869594cc5eb7adce2f351d9dbf726f03",
        "request": {
          "headers": [
            {
              "name": "x-namespace-id",
              "value": "hlx"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "PUT",
          "queryString": [
            {
              "name": "overwrite",
              "value": "true"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/namespaces/hlx/actions/28982640d8e0db65c5105a8dcd7b8690cb58755b/hlx--static?overwrite=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 92
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "www-authenticate",
              "value": "Basic realm=\"OpenWhisk secure realm\",charset=UTF-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 425,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
