{
  "log": {
    "_recordingName": "hlx publish (Integration)/Publish Strains on an existing Service Config",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.3.0"
    },
    "entries": [
      {
        "_id": "8b5c9aed2ff84220f4a715e055583b08",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fastly.com/service/477rh0E5FeeHKlKx5J3QXd"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 510,
            "text": "{\"publish_key\":\"bb0a914b743fff33d22c8a15eed7971fcddefce0\",\"name\":\"Unnamed Service 1551405713\",\"versions\":[{\"testing\":false,\"locked\":true,\"number\":1,\"active\":true,\"service_id\":\"477rh0E5FeeHKlKx5J3QXd\",\"staging\":false,\"created_at\":\"2019-03-01T02:01:53Z\",\"deleted_at\":null,\"comment\":\"\",\"updated_at\":\"2019-03-01T02:03:31Z\",\"deployed\":false}],\"deleted_at\":null,\"created_at\":\"2019-03-01T02:01:53Z\",\"comment\":\"\",\"customer_id\":\"1FBLnPD8Y19zEASHfCMNSu\",\"updated_at\":\"2019-03-01T02:01:53Z\",\"id\":\"477rh0E5FeeHKlKx5J3QXd\"}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 864,
      },
      {
        "_id": "7e15fb3e577ccd72edd370d21c15257c",
        "request": {
          "headers": [
          ],
          "method": "PUT",
          "queryString": [],
          "url": "https://api.fastly.com/service/477rh0E5FeeHKlKx5J3QXd/version/1/clone"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 232,
            "text": "{\"testing\":false,\"locked\":false,\"number\":2,\"active\":false,\"service_id[...]
