{
  "log": {
    "_recordingName": "Test VCL utils/initFastly generates new backends for defined Proxies",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.3.0"
    },
    "entries": [
      {
        "_id": "51c8dd7e1a4cde969104479fbeb3caea",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fastly.com/service/null"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 53,
            "text": "{\"msg\":\"Provided credentials are missing or invalid\"}"
          },
          "headers": [
            {
              "name": "status",
              "value": "401 Unauthorized"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 819,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
