{
  "log": {
    "_recordingName": "Integration test for up command/up command delivers correct response with live-reload.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "dec50edd87b0780c24ae0ccfbce4b953",
        "request": {
          "headers": [
            {
              "name": "x-esi",
              "value": true
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "params",
              "value": "with params"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/embed@v1/https://embeds.project-helix.io/jekyll_embed?params=with%20params"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 272,
            "text": "<div class=\"embed  embed-has-url embed-project-helix embed-project-helix-embeds embed-has-title\">\n  <a href=\"https://embeds.project-helix.io/jekyll_embed?params=with+params\">\n    <span class=\"title\">Fastly error: unknown domain embeds.project-helix.io</span>\n  </a>\n</div>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1592801991.954"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-last-activation-id",
              "value": "b93048cd1d3246f6b048cd1d3216f68a"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "1eaab6965ad14fa8aab6965ad1afa87a"
            },
            {
              "name": "x-provider",
              "value": "unfurl.js"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2491,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
