{
  "log": {
    "_recordingName": "hlx deploy (Integration)/Deploy sets action limits",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "06d775aabafd59db85d2db9f64d9db43",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/static@latest"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "perf-br-resp-out",
              "value": "1597159851.225"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-last-activation-id",
              "value": "09e313eab8c44448a313eab8c4844859"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "d90e1102af7443308e1102af748330b9"
            },
            {
              "name": "x-version",
              "value": "1.11.52"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 1004,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
