{
  "log": {
    "_recordingName": "hlx deploy (Integration)/Deploy works with unset parameters",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2bcc4d72dc5b1cbe5dff97d72a9b0c5d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/static@v1"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "perf-br-resp-out",
              "value": "1597150209.112"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-last-activation-id",
              "value": "2c83ed54700f46cc83ed54700f16ccc8"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "e17940a2ab814925b940a2ab81392588"
            },
            {
              "name": "x-version",
              "value": "1.11.52"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 464,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
