{
  "log": {
    "_recordingName": "hlx deploy (Integration)/Deploy works with unset parameters",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "06d775aabafd59db85d2db9f64d9db43",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/static@latest"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "perf-br-resp-out",
              "value": "1590573726.942"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-last-activation-id",
              "value": "b8c6a39a07a548ee86a39a07a558ee4d"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "81f311f94aa84c5bb311f94aa80c5b06"
            },
            {
              "name": "x-version",
              "value": "1.11.14"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 715,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
